.img{
	width: 100%;
	display: block;
	margin: 10px auto;
}
.container{
	background-color: lightcoral;
}
.noticia{
	background-color: black;
	color: white;
	margin: 30px;
	padding: 30px;
}
.titulo{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.contenido{
	padding: 20px;
	font-size: 25px;
}
.tipo{
	background-color: white;
	color: black;
	display: inline;
	font-size: 25px;
	padding: 5px;
	border-radius: 10px;
}