.mark{
	background-color: white;
	text-align: center;
	border-radius: 5px;
}
.button{
	background-color: black;
	color: white;	
	margin: 5px;
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 22px;
	display: inline-flex;
	transition: 0.5s all;
}
.button:hover{
	background-color: gray;
}
.parrafo{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 30px;
	border-radius: 5px 5px 0 0;
}